/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
/** {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }*/

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

p, li {
	color: #454545;
	font-size: 1.4em;
}

a {
	color: #c14646;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #a14646;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.container {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 25px;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

img {
	vertical-align: middle;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

code {
	font-size: 13px;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post-date span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Nav
/*
/*****************************************************************************/
h1.title a {
	color: #454545;
	font-size: 1.7em;
	font-family: Courier,	 Georgia;
}

h1.title a:hover {
	color: #7f7f7f;
}

.header-pane {
	background-color: yellow;
	padding: 10px 5px 10px 5px;
	max-height: 200px;
}
/*
.header-panel {
	position: absolute;
	bottom: 0;
} 
*/
.extra {
	color: #ffffff;
	padding: 2px 6px 2px 6px;
	text-transform: uppercase;
}
.extra:hover {
	color: #7f7f7f;
	text-decoration: none;
}
.nav-posts {
	background-color: #454545;
}
.nav-about {
	background-color: #454545;
}
.nav-portfolio {
	background-color: #454545;
}

.page-heading {
	color: #ffffff;
	padding: 2px 8px 2px 8px;
	text-transform: capitalize;
}

.page-heading:hover {
	text-decoration: none;
	color: #ffffff;
}

/**********************
/*about 
***********************/

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
	color: #7f7f7f;
}

.img-responsive {
	margin: 0px auto;
	border: solid 2px #000;
}

.logo {
	border: none;
	max-height: 170px;
}

.about-me {
	margin-top: 15px;
	margin-bottom: 10px;
}

.the-focus {
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: square;
}

/**********************
/*posts && portfolio
***********************/

.posts {
	border: solid 1px #eeeeee;
	border-bottom: solid 3px #7f7f7f;
	margin-bottom: 10px;
	padding: 0 10px 0 10px;
	background-size: cover;
}

.post-link:hover {
	text-decoration: none;
	background-color: #eeeeee;
}

.post-heading {
	padding: 2px 8px 2px 8px;
	text-transform: capitalize;
	color: #7f7f7f;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.post-body {
	margin-top: 45px;
}

.summary {
	color: #7f7f7f;
}

.comments {
	margin: 45px 0 45px 0;
	padding-top: 45px;
	border-top: solid 1px #eeeeee;
}

.gh-link {
	font-size: .9em;
	color: #eeeeee;
}

.gh-link:hover {
	color: #7f7f7f;
}

/**********************
/*footer
***********************/
.foot {
	margin-top: 30px;
	padding-top: 15px;
	border-top: 3px solid #7f7f7f;
}

.contact {
	margin-top: 6px;
}